# Ignore specific images
77e37333-9d11-4e32-a1bb-b73e2c779917.png
ChatGPT Image 16. Sept. 2025, 14_14_06.png
ChatGPT Image 16. Sept. 2025, 14_18_27.png
Design ohne Titel (10).png
alex.jpg
cd84f559-73df-4ce1-a86c-692956a8abe6.png
flo.jpg
kryptokoelsch_transparent.png
qr-code (6).png
transparent.png
transparentrichtig.png

# General ignores
*.zip
